.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Landing page */
.review-container{
  max-width: 600px;
  width: 100%;
  padding: 10px;
}

.viewers_div{
  text-align: center;
}
.review-image{
  width: 80px;
  height: 80px;
}
.review-image img{
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
}
.user-message-section{
  padding-left: 30px;
  max-width: 400px;
  width: 100%;
  text-align: left;
}